.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tasksStyle{
  text-align: left;
}
.errorStyle{
  color: red;
}

.errorInput {
  border: red 3px solid;
}


.active{
  background: greenyellow;
}
